
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');
 
body {
  background-color: #1D2540;
  font-family: 'Open sans';
}

.checkout-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
 }

 h2, h1, label {
  font-family: 'Open sans';
  color: #1D2540;
  text-align: center;
  opacity: 90%;
}

h1 {
  font-size: 38px;
  margin-top: 0.5rem;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
  line-height: 2.5rem;   
  color: #fff;
}

input [type="number"] {

}

.card-logo {
  width: 30px;
  height: 15px;

}

.card-option {

}

.card-details {

}

.card-name {

}

.card-number {

}

.expiry-inline {

}

.cc-cvv{

}

.card-confirm{

}

.button button-confirm {
  color: #1D2540;
}


