@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

body {
  font-family: 'Open Sans';
  background-color: #1D2540;
}

.confirm-container{
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 15px;
}


h1 {
  font-size: 32px;
 }
 
 h2 {
  font-size: 24px;
 }
 
 p {
   font-size: 18px; 
   margin-bottom: 1.5rem; 
 }
 
 h1, h2, p {
     font-family: 'Open sans';
     color: #1D2540;
 }

