@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

body {
    font-family:'Open Sans';
    background-color: #1D2540;
}

.contact-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    margin-bottom: 5rem;
    height: 30rem;
    margin-top: 5rem;
    border-radius: 15px;
}

h1, label {
    color: #1D2540;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

label {
    margin-left: 2rem;
}

input[type="text"], input[type="email"]{
    align-content: center;
}

input[type="checkbox"]{
    margin-left: 7rem;
}

textarea {
    width: 75%;
    height: 13rem;
    margin-top: 1.5rem; 
    margin-bottom: 2rem;    
}
