@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

body{
    font-family: 'Open Sans';
    background-color: #1D2540;
}

.game-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}

h1 {
    font-size: 38px;
}
h2 {
    font-size: 28px;
}

.radius {
    max-height: 320px;
    overflow: hidden;
    border-radius: 15%;
}
   
img {
    margin:0 auto;
}

h1, h2, p {
    color: #1D2540;
}

p {
    font-size: 18px;
}

button {
   width:10%; 
}







