@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    height: 220px;
    width: 100%;
    z-index: 2;
    background: #5394DB;
    position: relative;
}

body {
    background-color: #1D2540;
    font-family: 'Open Sans', poppins, roboto;
    margin: 0;
}

.logo-area {
    color:#fff;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    float: left;
    width: 440px;
    margin: 40px 20px 15px 20px;
}

.menulist {
    float: right;
    list-style: none;
    margin-right: 10px;
    display: flex;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menulist:hover {
    background-color: #5394DB;
    transition: all 0.4s;
}

.menulist li {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-top: 10rem;
}

.menulist li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px 5px;
    word-spacing: 5px;
    text-transform: uppercase;
    font-size: 24px;
}

.menulist li a:hover {
    background-color: #1D2540;
    transition: all 0.4s;
    border-radius: 10px;
  }

.menulist ul {
    margin: 0;
    padding-top: 1px;
}

.check {
    right:0;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: 3px 20px 0px 0px;
    z-index: 3;
    opacity: 0;
}
.ham-menu {
    float: right;
    height: 40px;
    width: 40px;
    margin: 3px 20px 0px 0px;
    position: relative;
    display: none;
    border: 2px solid #fff;
}

.ham-menu:hover {
    background-color: #5394DB;
    transition: all 0.4s;
}

.menuline {
    background: #fff;
    height: 2px;
    width: 25px;
    position: relative;
    margin: auto;
    display: flex;
    top: 50%;
}
.menuline::before {
    content: "";
    position: absolute;
    background: #fff;
    height: 2px;
    width: 25px;
    top: -8px;
}
.menuline::after {
    content: "";
    position: absolute;
    background: #fff;
    height: 2px;
    width: 25px;
    top:8px;
}

.search-bar {
    float: right;
    border-radius: 15px;
    margin-top: 3rem;
}

.search {
    float: right;
    margin-top: 50px;
    border-radius: 25px;
    height: 32px;
    margin-right: 40px;
    border: transparent;
    text-align:center;
}

.search-bar::after {
    content: "";
    clear: both;
    display: table;
  }

.search::placeholder {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
    text-align: center;
    opacity: 25%;
    letter-spacing: 10px;
}

.fa-search {
    font-size: 16px;
    padding: 7px;
    color: #1D2540;
}

input[type="text"].search-input {
    background-color: #fff;
    padding: 10px;
  }

h1 {
    text-align:center;
    font-size: 46px;
    font-weight:bold;
    margin-top: 100px;  
}

.cta-btn {
    font-size: 18px;
    color: white;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-color: #fff;
    border: 3px solid;
    margin: 1rem 1rem 7rem 1rem;
    cursor: pointer;
    margin-top: 50px;
    letter-spacing: 10px;
    
}

.cta-container {
   text-align: center;
}

.cta-btn:hover {
    background-color: #5394DB;
    transition: all 0.4s;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.radius {
    max-height: 320px;
    overflow: hidden;
    border-radius: 15%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 1 400px;
    text-align: center;
}

.img-column {
    margin: 0 auto;
}

.news-heading {
    margin-bottom: 25px;
    max-width: 800px;
    margin: 0;
}

.game-title { 
    text-align: center;
    margin: 0 auto; 
    margin-top: 10px;
}

.game-title:hover {
    background: #5394DB; 
    transition: all 0.4s; 
}
   
p, h1, h2 {
  color: #fff;
}

p {
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 5px;
    
}

.footer {
    background-color: #5394db;
    padding: 3rem 1rem;
    line-height: 1.5rem;
    overflow: hidden;
}

.footer_top {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

.footer_top_box a:link,
.footer_top_box a:visited {
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer_top_box a:hover {
    background: #1D2540; 
    transition: all 0.4s;  
    border-radius: 15px;
    width: 115px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

#copyright {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 46px;
        margin-left: 15px;
        margin-right: 15px;
    }

    h2,p {
        max-width: 800px;
    }

    .game-title {
        margin-top: 15px;
        margin-bottom: 50px;
    } 

    .row{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1024px) {

    .game-title {
        margin-top: 8px;
    }

    -menulist li a {
        font-size: 16px;
    }

    .row {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    /* .search::placeholder {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        word-break: break-all;
        text-align: center;
        opacity: 25%;
        letter-spacing: 10px;
    } */
    
    h1 {
        text-align:center;
        font-weight:bold;
        margin-top: 100px;  
    }

    .cta-btn {
        font-size: 18px;
        color: white;
        border-radius: 15px;
        width: 200px;
        height: 50px;
        background-color: transparent;
        border-color: #fff;
        border: 3px solid;
        margin: 1rem 1rem 7rem 1rem;
        cursor: pointer;
        margin-top: 50px;
        letter-spacing: 10px; 
        text-decoration: none;  
    }
    
    .cta-container {
       text-align: center;
    }
    
    .cta-btn:hover {
        background-color: #5394DB;
        transition: all 0.4s;
    }
    
    h2 {
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 25px;
        margin-left: 0px;
    }
    
    .radius {
        max-height: 200px;
    }
    
    .news-heading {
        margin-bottom: 25px;
    }
    
    p, h1, h2 {
      color: #fff;
    }
    
    p {
        font-size: 18px;
        max-width: 90vw;
        margin: 0 auto;
    }
    
    footer {
        background-color: #5394DB;
        margin-top: 20px;
        text-align: left;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .copy {
        margin-left: 20px;
    }
}

@media screen and (max-width: 860px) {

    .menulist {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    header {
        height: 120px;
    }

    .logo-area {
        width: 280px !important;
        float: left;
        display: flex;
        align-items: center;
        vertical-align: center;
        margin: 20px 20px 15px 20px;
    }
    
     /* .radius {
        max-height: 130px;
    } */

    /* .column {
        margin-top: 25px;
        margin-bottom: 25px;
    } */

    .menulist {
        display:none;
    }
    .search-bar {
       display: none;
    }
     
    h1 {
         font-size: 38px;
    }

    h2 {
        font-size: ;
    }

    p {
        margin-top: 10px;
    }
}

@media only screen and (max-width:680px) {
    header {
        position: fixed;
  }
  .menulist {
    position: fixed;
    width: 100%;
    margin-right: 0px;
    background: #008bff;
    top: 50px;
    padding-top: 50px;
    text-align: center;
    transition: 0.5s;
    right: -100%;
  }
  .ham-menu {
    display: block;
  }
  .menulist {
    display: block;
    margin-right: 0px;
  }
  .menulist li a {
    font-size: 22px;
    text-align: center;
  }
  .check:checked ˜.ham-menu.menuline {
    transform: rotate(135deg);
    transition: 0.3s ease;
  }
  .check:checked ˜.ham-menu.menuline::before,..check:checked ˜.ham-menu.menuline::after {
    top:0;
    transform: rotate(90deg);
  }  
}

@media screen and (max-width: 480px) {

    .logo-area {
        width: 250px !important;
        float: left;
        display: flex;
    }

    .menulist {
        display:none;
    }

    /* .search-bar {
       display: none;
    } */

   .row:after {
    text-align: center;
    margin-bottom: 45px;
    border-spacing: 0 15px;
    row-gap: 10px;
    }

    .cta-btn {
        width: 120px;
    }
}
