@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

body {
  font-family: 'Open sans';
  background-color: #1D2540;
}

.login-container {
width: 50%;
margin: 0 auto;
padding: 20px;
background-color: white;
margin-top: 2rem;
margin-bottom: 2rem;
border-radius: 15px;
}

h1 {
  font-size: 38px;
  color:#1D2540;
}
.form {
  height: 19em;
  width: 25em;
  background: #fff;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  color: #1D2540;
}

.login button {
  display: table-cell;
  vertical-align:middle;
  text-align: center;
  font-size: 3em;
  cursor: pointer;
}


