@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

body {
    background-color: #1D2540;
    font-family: 'Open Sans', poppins, roboto;
    margin: 0;
}

.consoles-container, .genre-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
    flex-direction: row;
    flex-direction: column;
}

h1 {
    font-size: 38px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px; 
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.3333%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 1.5rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1 1 400px;
    text-align: center;
}

.img-column {
    margin: 0 auto;
}






