@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

body {
    background-color: #1D2540;
    font-family: 'Open Sans', poppins, roboto;
    margin: 0;
}

.consoles-container, .seller-container, .offer-container, .genre-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}  

