* {box-sizing: border-box}

.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0; 
  display: inline-block;
  border: none;
  background: #fff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff ;
  outline: none;
}

hr {
  border: 1px solid #fff;
  margin-bottom: 25px;
}

.registerbutton {
  background-color:#fff;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbutton:hover {
  opacity:1;
}

a {
  color: #fff;
}

.signin {
  background-color: #fff;
  text-align: center;
}