* {box-sizing: border-box}

.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0; 
  display: inline-block;
  border: none;
  background: #fff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff ;
  outline: none;
}

legend, label {
  color: #fff;
}



.registerbutton {
  background: color #1d2540;;
  color: #1d2540;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
}

a {
  color: #fff;
}
