@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

body {
    font-family: 'Open sans';
    background-color: #1D2540;
}

.register-container {
    width: 50%; 
   margin: 0 auto;
   margin-top: 60px;
   margin-bottom: 70px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 95%;
    padding: 15px;
    margin: 15px 0 25px 0;
    background: #fff;
    border: 1.5px solid #5394DB;
    border-radius: 3px;
}

input[type="text"].search-input {
    width: 150px;

}
.button {
    width: 100px;
    background-color: #5394DB;
    border: 1px solid #5394DB;
    color: #fff;
    padding: 15px;
}


hr {
    margin-bottom: 20px;
}



h1,b {
    color: #5394DB;
}

h1 {
    font-size: 38px;
}

footer {
    background-color: #5394DB;
    margin-top: 20px;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}

.copy {
    margin-left: 20px;
}
}

@media screen and (max-width: 860px) {

.menulist {
    display: none;
}
}

@media screen and (max-width: 768px) {

header {
    height: 120px;
}

.logo-area {
    width: 280px !important;
    float: left;
    display: flex;
    align-items: center;
    vertical-align: center;
    margin: 20px 20px 15px 20px;
}

 /* .radius {
    max-height: 130px;
} */

/* .column {
    margin-top: 25px;
    margin-bottom: 25px;
} */

.menulist {
    display:none;
}
.search-bar {
   display: none;
}
 
h1 {
     font-size: 38px;
}

h2 {
    font-size: ;
}

p {
    margin-top: 10px;
}
}

@media only screen and (max-width:680px) {
header {
    position: fixed;
}
.menulist {
position: fixed;
width: 100%;
margin-right: 0px;
background: #008bff;
top: 50px;
padding-top: 50px;
text-align: center;
transition: 0.5s;
right: -100%;
}
.ham-menu {
display: block;
}
.menulist {
display: block;
margin-right: 0px;
}
.menulist li a {
font-size: 22px;
text-align: center;
}
.check:checked ˜.ham-menu.menuline {
transform: rotate(135deg);
transition: 0.3s ease;
}
.check:checked ˜.ham-menu.menuline::before,..check:checked ˜.ham-menu.menuline::after {
top:0;
transform: rotate(90deg);
}  
}

@media screen and (max-width: 480px) {

.logo-area {
    width: 250px !important;
    float: left;
    display: flex;
}

.menulist {
    display:none;
}

/* .search-bar {
   display: none;
} */

.row:after {
text-align: center;
margin-bottom: 45px;
border-spacing: 0 15px;
row-gap: 10px;
}

.cta-btn {
    width: 120px;
}
}

