@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');

body {
    background-color: #1D2540;
    font-family: 'Open sans';
}

.sell-container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}

h1, h2, p, ol li, button, input[type="radio"], input[checkbox]{
    color: #1D2540;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
    font-weight: 200;
}
 
ol li {
    font-size: 18px;
    margin-left: 2rem;
}

p {
    font-size: 14px;
    margin-top: 1rem;
}

input[type="radio"] input[checkbox] {
    font-size: 10px;
}




